h1#title {
  text-align: center;
}

form {
  text-align: center;
}

input#context {
  width: 50%;
}

div#words {
  text-align: center;
}

code.word {
  margin-left: 3px;
  margin-right: 3px;
  color: black;
  background-color: lightblue;
}

code.word:hover {
  color: black;
  background-color: lightgreen;
}

#sentence {
  width: 50%;
}